* {
    margin: 0px;
    padding: 0px;
    }
    
    .div-principal{
        position: relative;
        margin: 0 auto;
        height: 500px;
        width: 100%;
        background-color: crimson;
    }
    
    .slider{
        top: 5%;
        width: 894px;
        height: 290px;
        align-items: center ;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    .body{
        width: 894px;
        margin:0 auto;
        padding-top: 190px;
        padding: 30px;
        height: 600px;
        background-position: center;
        position: relative;
    }
    
    .div{
        width: 550px;
       
    }
    .divfooter{
        text-align: center;
        line-height: 50px;
        float: left;
        display: inline-block; 
    }
    .div-cima{
        background-color: blue;
        width:100%;
        margin:0 auto;
        height: 20px;
        position: relative;
        text-align: right;
        color: cornsilk;
    }
    .div-menu{
        margin-left: 90%;
    }
       
    
    .titulo {
       font-size: 30px;
    }
    
    .figure{
        float: right;
        width: 30%;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        border: thin silver solid;
        margin: 0.5em;
        padding: 0.5em;
    }
    
    .img-box{
        
        text-align: center;
        font-style: italic;
        font-size: smaller;
    }
    
    .box {
        width: 219px;
        display: inline-block;
    }
    
    
    
    /*-----------------------------------------*/
    
    
    .footer {
        margin-top: 400px;
        width: 1250px;
        height: 100px;
        background-color:black;
        color: white;   
    }

   
    .aux-footer {
        margin-left: 15px;
        color: white;
    }
    
    .menu-baixo li{
        width: 500px ;
        height: 40px; 
        text-align: center;
        line-height: 40px;
        float: left;
        display: inline-block; 
        font-size: 15px;
        position: relative;
    }
    .aux{
        margin-left: 35%;
    }
    .menu ul li{
        width: 200px;
        height: 60px; 
        text-align: center;
        line-height: 50px;
        float: left;
        display: inline-block; 
        font-size: 18px;
        position: relative;
        z-index:  auto !important;
    
    }
    
    .menu ul li:hover{
    background-color: chocolate;
    
    }
    
    .menu ul{
        padding: 0 !important;
        
    }
    
    .menu ul ul {
        display: none !important;
    }
    
    .menu ul li:hover > ul{
    display: block;
    }
    
    .menu ul ul ul {
        margin-left: 202px;
        top: 0px;
        position: absolute;
    }
    
    .menu ul ul li:hover{
        background-color: crimson;
    }
    
    .menu ul ul ul li:hover{
        background-color: darkmagenta;
    }
    
    .logo{
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        position: absolute;
        left: 150px;
      }